{% extends "base.html" %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1 class="text-center">Please log in to the Healthy Mamas 90 Day Challenge</h1>
            </div>
        </div>
        <div class="row">
            <div class="center">
                <div class="social-login-buttons">
                    <a href="{{ url_for('social.login', provider='Facebook') }}" class="social-facebook btn btn-default btn-lg">
                        <i class="fa fa-facebook-square"></i> with Facebook</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
